@media (max-width: 348.98px /* By Frontend Mentor */) {
    body {
        min-width: 100%;
    }

    main {
        margin: 85px auto;
        height: 110vh;
    }

    .container {
        height: 750px;
        width: 375px;
        display: block;
        position: relative;
    }

    .container .left-card {
        padding: 0;
        width: 325px;
        margin: 25px auto auto 25px;
        position: absolute;
        text-align: center;
    }

    .container h1 {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 32px;
        margin: 10px auto 10px -1px;
    }

    .container .left-card .texto {
        font-family: "Inter", sans-serif;
        font-size: 12px;
        width: 270px;
    }

    .container .left-card .dados {
        flex-direction: column;
        margin: 40px auto auto -8px;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 272px;
    }

    .container .left-card .dados .dados-cima {
        margin: 0 0 0 3px;
    }

    .container .left-card .dados .dados-baixo {
        font-family: "Inter", sans-serif;
        letter-spacing: 0.5px;
        margin: 10px 0 45px 1px;
        width: auto;
    }

    .container .right-card img {
        border-radius: 5px 5px 0px 0;
        height: 240px;
        width: 375px;
        margin: -30px;
        position: absolute;
    }

    .container img::after {
        height: 240px;
        width: 375px;
    }

    .attribution {
        /* Temporário */
        display: none;
    }
}