@media (max-width: 1280px) {
    main {
        min-width: 100%;
    }
}

@media (max-width: 1080px) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .container h1 {
        width: 80%;
        margin: 0 auto;
    }

    .container .left-card {
        margin-top: 30px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .container .left-card .texto {
        padding-top: 20px;
        width: 80%;
        margin: 0 auto;
    }

    .container .left-card .dados {
        justify-content: center;
        width: 100%;
    }

    .container .right-card {
        margin-left: 0;
        width: 100%;
    }

    .container .right-card > img {
        width: 100%;
        height: 100%;
    }

    .container .right-card img {
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 474px) {
    .container .left-card .dados {
        flex-direction: column;
    }

    .container .left-card .dados .bloco {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .container .left-card .dados .bloco .dados-baixo {
        width: 100%;
    }
}